// Customizations specific to the ncodamusic.org theme.
//
// For things that don't apply to other nCoda amazeUI themes.
//
// Copyright 2016, 2018 Christopher Antila

@fa-font-path: '/theme/fonts';

@{ns}topbar @{ns}dropdown-content {
    color: @text-color;
}

@article-title-font-size: 2.8em;
@article-title-line-height: @global-line-height;

// ============================================================================
// Homepage-specific styles (start)
// ============================================================================
.rotation-hidey-class { overflow: hidden; }
.coda-menu-button {
    transition: 0.5s ease-in-out transform;
    border: none;
    margin: 0;
    padding: 0;
    &:hover { transform: rotate(-30deg); };
}

.logoheading {
    margin-top: 2rem;
    margin-bottom: 0;
    img { max-width: 100%; }
}

.subheading {
    margin-top: 0;
}

.tech-list img {
    max-height: 50px; // no taller than height of Verovio logo
    vertical-align: middle;
}

a.external {
    text-decoration: none;
}

a.external::after {
    content: '\f08e';
    display: inline-block;
    font: normal normal normal 1.6rem/1 FontAwesome,sans-serif;
    margin-left: .5em;
    margin-right: .25em;
}

// ============================================================================
// Homepage-specific styles (end)
// ============================================================================
